@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(216, 12%, 8%);
}

.page {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.container {
  background-color: rgb(33, 40, 50);
  display: flex;
  flex-direction: column;
  color: aliceblue;
  width: 350px;
  padding: 30px;
  border-radius: 30px;
}

.starImage {
  background: url('images/icon-star.svg') center center no-repeat;
  background-color: rgb(38, 47, 54);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.titleText {
  font-family: 'Outfit', sans-serif;
  font-size: 30px;
  font-weight: 400;
  padding: 20px 0px;
}

.bodyText {
  font-family: 'Outfit', sans-serif;
  font-weight: 100;
  color: hsl(216, 12%, 54%);
  padding-bottom: 30px;
}

.ratingNumber {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.ratingNumber span {
  background-color: rgb(38, 47, 54);
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-family: 'Outfit', sans-serif;
  color: rgb(112, 121, 130);
}

.submit {
  background-color: orange;
  color: white;
  text-align: center;
  line-height: 40px;
  font-family: 'Outfit', sans-serif;
  font-size: 20px;
  border-radius: 20px;
}

.ratingNumber .num_hover {
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.ratingNumber .num_click {
  background-color: rgb(112, 121, 130);
  color: white;
}

.submit_hover {
  background-color: white;
  color: orange;
}